@media all and (max-width: 970px) {
  .paragraph {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media all and (max-width: 600px) {
  .heading {
    font-size: 50px;
  }

  .paragraph {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media all and (max-width: 550px) {
  .heading {
    font-size: 42px;
  }
  .paragraph {
    font-size: 16px;
    margin-top: 0.5rem;
  }
}

@media all and (max-width: 480px) {
  .paragraph {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media all and (max-width: 440px) {
  .heading {
    font-size: 32px;
    line-height: 50px;
    font-weight: bold;
    margin-top: 10px;
  }
  .paragraph {
    font-size: 9px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 0px;
  }
}
