.customContainer {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

/* Slider Styles */
.sliderOuterContainer {
    width: 100%;
    height: auto;
    position: relative;
}

.box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background: #0057e3;
}

.overlay {
    z-index: 9;
    /* margin: 40px; */
}