.servicesSliderArrowContainer {
    border: 1px solid red;
    margin-top: 40px;
    width: 220px;
    height: 44px;
    display: flex;
    justify-content: space-between;
}

/* When It's Deactive */
.rightAC {
    /* border: 1px solid red; */
    border-top: 1.5px solid #a4a4a4;
    border-left: 1.5px solid #a4a4a4;
    border-bottom: 1.5px solid #a4a4a4;
    width: 39.25px;
    height: 44px;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
}

.sliderArrowLeft {
    opacity: 0.5;
    margin-top: 2px;
    color: #a4a4a4;
    margin-left: 70px;
    margin-right: 8px;
}

.sliderArrowRight {
    opacity: 0.5;
    margin-top: 10px;
    color: #a4a4a4;
    margin-left: 7px;
    margin-right: 8px;
}

.sliderArrowDeActive {
    color: #a4a4a4;
    opacity: 0.5;
}

/* When It's Active */
.leftAC {
    border-top: 1.5px solid #10146E;
    border-left: 1.5px solid #10146E;
    border-bottom: 1.5px solid #10146E;
    width: 39.25px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
}

.sliderArrowActive {
    color: #10146E;
    opacity: 1;
}

/* When It's Hover */
.servicesSliderHoverArrow {
    border-top: 1.5px solid #10146E;
    border-left: 1.5px solid #10146E;
    border-bottom: 1.5px solid #10146E;
    width: 39.25px;
    height: 44px;
    box-sizing: border-box;
}

.sliderArrowHover {
    color: #10146E;
    opacity: 1;
}

/* When It's Focus */
.servicesSliderFocusArrow {
    border-top: 1.5px solid #10146E;
    border-left: 1.5px solid #10146E;
    border-bottom: 1.5px solid #10146E;
    width: 39.25px;
    height: 44px;
    box-sizing: border-box;
}

.sliderArrowFocus {
    color: #10146E;
    opacity: 1;
}

/* Sider Arrow Text Left */
.sliderArrowTextLeft {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 20px;
}

/* Sider Arrow Text Right */
.sliderArrowTextRight {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 10px;
    margin-left: -36px;
}

.sliderArrowTextActive {
    color: #1C1C1C;
}

.sliderArrowTextDeActive {
    color: #a4a4a4;
}