.headingContainer {
  box-sizing: border-box;
  /* border: 1px solid rgb(34, 255, 0); */
  height: 140px;
  margin-top: 580px;
}

/* Slider Styles */
.sliderOuterContainer {
  width: 100%;
  height: auto;
  position: relative;
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  background: #0057e3;
}

.overlay {
  z-index: 9;
  /* margin: 40px; */
}

/* Services Styles */
.headingOverlay {
  font-style: normal;
  font-weight: 500;
  font-size: 99px;
  /* border: 1px solid red; */
  text-align: center;
  line-height: 77px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.02),
      rgba(0, 0, 0, 0.02)
    ),
    linear-gradient(0deg, #ffffff, #ffffff);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  font-family: "Sharp Grotesk-Medium20", Helvetica;
}

.heading {
  margin-left: 2rem;
  margin-top: 2.5rem;
  text-align: left;
  color: #000;
  padding-bottom: 1rem;
  font-style: normal;
  font-weight: 500;
  font-family: "Sharp Grotesk-Medium20", Helvetica;
  font-size: 59px;
  line-height: 77px;
  background-image: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, #ffffff, #ffffff);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  text-align: center;
}
