.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 89%;
  /* border: 2px solid red; */
}

.leftContainer {
  height: 493px;
  position: relative;
  width: 45%;
  /* border: 2px solid rgb(43, 255, 0); */
}

.rightContainer {
  height: 493px;
  position: relative;
  /* width: 669px; */
  width: 45%;
  margin-top: 32px;
  margin-left: 70px;
  /* border: 2px solid brown; */
}

.leftHBCard {
  margin-top: 65px;
  margin-left: 25px;
}

.rightHBCard {
  margin-top: 32px;
    margin-left: -30px;
}

.frameLeftBlogImage {
  border: 1px solid;
  border-color: #10146e;
  height: 389px;
  left: 96px;
  position: absolute;
  top: 31px;
  width: 553px;
}

.frameRightBlogImage{
  border: 1px solid;
  border-color: #10146e;
  height: 389px;
  left: 40px;
  position: absolute;
  top: -2px;
  width: 553px;
}


.leftPatternsImage {
  height: 152px;
  left: 557px;
  position: absolute;
  top: 341px;
  width: 112px;
}

.rightPatternsImage {
  height: 152px;
  left: 0;
  position: absolute;
  top: 0;
  width: 112px;
}

.overlap_3 {
  height: 434px;
  position: relative;
  width: 625px;
}

.rectangle_4 {
  border: 1px solid;
  border-color: #10146e;
  height: 389px;
  left: 79px;
  position: absolute;
  top: 0;
  width: 546px;
}

.rectangle_5 {
  background-color: #363a85;
  box-shadow: 0px 12px 18px 3px #00000040;
  height: 400px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 600px;
}

.mask_group_2 {
  height: 400px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 270px;
}

.right_content_2 {
  height: 220px;
  left: 302px;
  position: absolute;
  top: 124px;
  width: 233px;
}

.group_3 {
  height: 25px;
  left: 176px;
  position: absolute;
  top: 0;
  width: 56px;
}

.text_wrapper_8 {
  color: #ffffff;
  font-family: "Jost", Helvetica;
  font-size: 14px;
  font-weight: 500;
  left: 30px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
}
