.sliderOuterContainer {
  width: 550px;
  height: 600px;
  position: relative;
  /* border: 1px solid rgb(255, 0, 179); */
}

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  /* background: #0057e3; */
}

.overlay {
  z-index: 9;
  /* margin: 40px; */
}

.containerTlPatternImage {
  padding-left: 0px;
  padding-top: 30px;
}

.tlPatternImage {
  /* border: 1px solid red; */
}
.containerBrPatternImage {
  top: 410px;
  right: -30px;
  position: absolute;
}

.brPatternImage {
  /* border: 1px solid rgb(14, 14, 114); */
}

/* Border Image */
.borderServicesImage {
  margin-top: 70px;
  margin-left: 70px;
  width: 431px;
  height: 426px;
}

/* Services Image */

.ServicesImage {
  margin-top: 80px;
  margin-left: 0px;
  max-width: 459px;
  height: 475px;
  /* border: 1px solid red; */
}

/* Services Image */

/* @media all and (max-width: 1380px) {
  .borderServicesImage {
    width: 75%;
  }
  .ServicesImage {
    width: 85%;
  }
  .containerBrPatternImage {
    padding-left: 440px;
  }
}

@media all and (max-width: 1300px) {
  .borderServicesImage {
    width: 75%;
  }
  .ServicesImage {
    width: 85%;
  }
  .containerBrPatternImage {
    padding-left: 420px;
  }
}

@media all and (max-width: 1270px) {
  .containerBrPatternImage {
    padding-left: 410px;
  }
}

@media all and (max-width: 1250px) {
  .containerBrPatternImage {
    padding-left: 405px;
  }
}

@media all and (max-width: 1230px) {
  .containerBrPatternImage {
    padding-left: 390px;
  }
}

@media all and (max-width: 1200px) {
  .borderServicesImage {
    width: 73%;
    height: 410px;
  }
  .ServicesImage {
    width: 85%;
    height: 450px;
  }
  .containerBrPatternImage {
    padding-left: 380px;
    padding-top: 240px;
  }
}

@media all and (max-width: 1180px) {
  .containerBrPatternImage {
    padding-left: 370px;
  }
}

@media all and (max-width: 1160px) {
  .containerBrPatternImage {
    padding-left: 360px;
  }
}

@media all and (max-width: 1140px) {
  .containerBrPatternImage {
    padding-left: 350px;
  }
}

@media all and (max-width: 1110px) {
  .containerBrPatternImage {
    padding-left: 340px;
  }
}

@media all and (max-width: 1090px) {
  .borderServicesImage {
    width: 73%;
    height: 410px;
  }
  .ServicesImage {
    width: 85%;
    height: 450px;
  }
  .containerBrPatternImage {
    padding-left: 330px;
  }
}

@media all and (max-width: 1080px) {
  .borderServicesImage {
    width: 72%;
  }
}

@media all and (max-width: 1070px) {
  .borderServicesImage {
    width: 71.5%;
  }
  .containerBrPatternImage {
    padding-left: 320px;
  }
}

@media all and (max-width: 1050px) {
  .borderServicesImage {
    width: 71%;
  }
  .containerBrPatternImage {
    padding-left: 310px;
  }
}

@media all and (max-width: 1030px) {
  .borderServicesImage {
    width: 70%;
  }
  .containerBrPatternImage {
    padding-left: 295px;
  }
}

@media all and (max-width: 1000px) {
  .containerBrPatternImage {
    padding-left: 290px;
  }
}

@media all and (max-width: 990px) {
  .containerBrPatternImage {
    padding-left: 280px;
  }
}

@media all and (max-width: 980px) {
  .containerBrPatternImage {
    padding-left: 270px;
  }
}

@media all and (max-width: 960px) {
  .containerBrPatternImage {
    padding-left: 260px;
  }
}

@media all and (max-width: 930px) {
  .containerBrPatternImage {
    padding-left: 250px;
  }
} */

@media all and (max-width: 1300px) {
  .sliderOuterContainer {
    width: 500px;
    /* border: 1px solid green; */
  }
}

@media all and (max-width: 1200px) {
  .sliderOuterContainer {
    width: 450px;
    /* border: 1px solid green; */
  }
  .ServicesImage {
    max-width: 430px;
  }
  .borderServicesImage {
    width: 82%;
  }
}

@media all and (max-width: 1105px) {
  .sliderOuterContainer {
    width: 420px;
    /* border: 1px solid rgb(4, 0, 128); */
  }
  .ServicesImage {
    max-width: 400px;
  }
  .borderServicesImage {
    width: 80%;
  }
}

@media all and (max-width: 1030px) {
  .sliderOuterContainer {
    width: 400px;
    /* border: 1px solid rgb(4, 0, 128); */
  }
  .ServicesImage {
    max-width: 370px;
  }
  .borderServicesImage {
    width: 78%;
  }
}

@media all and (max-width: 1000px) {
  .sliderOuterContainer {
    width: 380px;
    /* border: 1px solid rgb(4, 0, 128); */
  }
  .ServicesImage {
    max-width: 350px;
  }
  .borderServicesImage {
    width: 77%;
  }
}

@media all and (max-width: 950px) {
  .sliderOuterContainer {
    width: 360px;
    /* border: 1px solid rgb(4, 0, 128); */
  }
  .ServicesImage {
    max-width: 330px;
    height: 450px;
  }
  .borderServicesImage {
    width: 76%;
    height: 400px;
  }
  .containerBrPatternImage {
    top: 390px;
  }
}

@media all and (max-width: 899px) {
  .sliderOuterContainer {
    /* border: 3px solid #00aaff; */
    width: 550px;
    height: 600px;
  }
  .borderServicesImage {
    width: 82%;
    height: 470px;
  }
  .containerBrPatternImage {
    top: 460px;
    right: 0px;
    position: absolute;
    padding-left: initial;
  }
  .ServicesImage {
    margin-left: 20px;
    max-width: 500px;
    height: 520px;
  }
}

@media all and (max-width: 768px) {
  .sliderOuterContainer {
    /* border: 3px solid #00e9b7; */
    width: 100%;
    height: 600px;
  }
  .borderServicesImage {
    width: 80%;
    height: 440px;
    margin-top: 60px;
  }
  .containerBrPatternImage {
    top: 430px;
  }
  .ServicesImage {
    margin-left: 20px;
    max-width: 89%;
    margin-top: 75px;
    height: 480px;
  }
  .container {
    width: 80%;
  }
}

@media all and (max-width: 600px) {
  .sliderOuterContainer {
    /* border: 3px solid #00e9b7; */
    width: 100%;
    height: 450px;
  }
  .borderServicesImage {
    width: 78%;
    height: 380px;
    margin-top: 30px;
  }
  .containerBrPatternImage {
    top: 300px;
  }
  .ServicesImage {
    margin-left: 10px;
    max-width: 89%;
    margin-top: 40px;
    height: 440px;
  }
  .container {
    width: 80%;
  }
}

@media all and (max-width: 550px) {
  .borderServicesImage {
    width: 77%;
    height: 360px;
  }
  .ServicesImage {
    max-width: 92%;
    margin-top: 40px;
    height: 400px;
  }
}

@media all and (max-width: 550px) {
  .borderServicesImage {
    width: 77%;
  }
}

@media all and (max-width: 490px) {
  .borderServicesImage {
    width: 72%;
    height: 290px;
  }
  .ServicesImage {
    max-width: 90%;
    margin-top: 40px;
    height: 320px;
  }
  .containerBrPatternImage {
    top: 220px;
  }
  .sliderOuterContainer {
    width: 100%;
    height: 390px;
  }
}

@media all and (max-width: 440px) {
  .containerTlPatternImage,
  .tlPatternImage {
    width: 41px;
    height: 58px;
    /* border: 1px solid red; */
  }
  .containerBrPatternImage {
    top: 165px;
    width: auto;
    height: auto;
  }
  .brPatternImage {
    width: 41.3px;
    height: 58.5px;
  }
  .sliderOuterContainer {
    /* border: 3px solid #2300e9; */
    width: 100%;
    max-width: 200px;
    height: 230px;
    min-height: 230px;
    margin-top: -10px;
  }
  .borderServicesImage {
    width: 143px;
    margin-top: 40px;
    height: 165px;
    margin-left: 40px;
    border: 3px solid #bbbdef;
  }
  .ServicesImage {
    max-width: 169px;
    margin-left: 10px;
    width: 169px;
    height: 184px;
    margin-top: 45px;
  }
}
