.container {
    width: fit-content;
    /* border: 2px solid rgb(255, 0, 0); */
}

.formContainer {
    width: 453.706px;
    height: 582px;
    background-color: hsl(220, 78%, 33%);
    padding-left: 2.8rem;
    padding-right: 2.8rem;
    padding-top: 1.7rem;
    border-radius: 3px;
}

.form_header {
    color: hsl(0, 0%, 100%);
    font-family: "Sharp Grotesk-Medium20", Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 23px;
}