.container {
    width: 100%;
    height: auto;
    border: 1px solid green;
    display: flex;
}

.left_container {
    width: 50%;
    height: auto;
    border: 1px solid red;
    float: left;
}

.right_container {
    width: 50%;
    height: auto;
    border: 1px solid blue;
    float: right;
}