.container {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  height: 500px;
}

.leftContainer {
  width: 40%;
  height: 100%;
  display: block;
  /* border: 3px solid green; */
}

.rightContainer {
  width: 60%;
  height: 100%;
  display: block;
  /* border: 3px solid blue; */
}
