@keyframes sliderAnimation {
  0% {
    background-size: 0% 20%;
  }
  20% {
    background-size: 20% 40%;
  }
  40% {
    background-size: 40% 60%;
  }
  60% {
    background-size: 60% 80%;
  }
  80% {
    background-size: 80% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.controls_slider_container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.next_txt {
  color: #113e94;
  font-family: "Jost", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.line_slider {
  background-color: #113e94;
  height: 3px;
  width: 100px;
  margin-top: 12px;
  margin-left: 20px;
  margin-right: 20px;
}

.line_slider .animate {
  animation: sliderAnimation 2s ease-in infinite;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.previous_txt {
  color: #113e94;
  font-family: "Jost", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  opacity: 0.4;
  white-space: nowrap;
}
