.container {
  height: 420px;
  /* margin-bottom: 500px; */
  width: 100%;
  background-color: rgba(16, 20, 110, 0.84);
  margin-top: 140px;
  padding-top: 50px;
  position: relative;
  background-image: url(../../../../public/Images/Home/Products/Patterns.png);
}

@media all and (max-width: 900px) {
  .container {
    margin-top: 60px;
  }
}

@media all and (max-width: 600px) {
  .container {
    height: 380px;
    padding-top: 40px;
  }
}

@media all and (max-width: 480px) {
  .container {
    height: 350px;
    padding-top: 40px;
  }
}

@media all and (max-width: 440px) {
  .container {
    height: 270px;
    padding-top: 10px;
    padding-bottom: 30px;
  }
}
